{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Reset password" %}{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for "ads.views.post_ad" %}
        {% trans "Reset password" %}
    {% endbreadcrumb_for %}
{% endblock %}

{% block content %}
<div class="reset_password">
    <h3>{% trans 'Forgot your password?' %}</h3>
    <div>{% trans "Enter your email in the form below and we'll send you instructions for creating a new one." %}</div>
    <form method='post' action='' class="onchange_form" data-parsley-validate>{% csrf_token %}
        <div>{{ form.email }}</div>
        <button type='submit' class="submit" >{% trans 'Reset password'  %}</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% load staticfiles %}
    <script src="{% static 'js/parsley/parsley.min.js' %}"></script>
    {% if LANGUAGE_CODE != 'en' %}
        {% with 'js/parsley/'|add:LANGUAGE_CODE|add:'.js' as localisation %}
            <script type="text/javascript" src="{% static  localisation %}"></script>
        {% endwith %}
    {% endif %}
{% endblock %}
