{% extends "ads/profile.html" %}
{% load i18n %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for "auth_password_change" %}
        {% trans "Change password" %}
    {% endbreadcrumb_for %}
{% endblock %}

{% block title %}{% trans "Change password" %}{% endblock %}
{% block profile_content %}
<form id="change_passwd_form" method='post' action=''>{% csrf_token %}
<table>
    {% for field in form %}
    <tr>
        <th>{{ field.label }}</th>
        <td>{{ field }}</td>
        <td>{{ field.errors }}</td>
    </tr>
    {% endfor %}
    <tr><td></td><td><br><input class="btn btn-default" type="submit" value='{% trans "Change password" %}'></td></tr>
</table>
</form>
{% endblock %}
