{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Password reset complete" %}{% endblock %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for "ads.views.post_ad" %}
        {% trans "Reset password" %}
    {% endbreadcrumb_for %}
{% endblock %}
{% block content %}<div class="onchange_alert alert_success">{% blocktrans %}
Your password has been reset!  You may now <a href="{{ login_url }}">log in</a>.
{% endblocktrans %}</div>{% endblock %}
