{% extends "ads/index.html" %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for "faq" %}
        {% trans "FAQ" %}
    {% endbreadcrumb_for %}
{% endblock %}

{% block content %}
    <h1>{% trans 'Frequently Asked Questions' %}</h1>
    <ul>
        {% for article in articles %}
            <li>
                <a href="{% url 'faq_article' article.slug article.id  %}">{{ article.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}