{% extends "ads/index.html" %}
{% load i18n staticfiles %}

{% block title %}{% trans 'Page is not found.' %}{% endblock %}


{% block body %}
    <div class="errorContent">
        <div class="errorBlock">
            <div class="error404">
                {% trans 'Page is not found.' %}
                <br/>
                <a href="/" >
                    <button type="button" class="submit">{% trans 'Back to home' %}</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
